@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
   font-family: "HelveticaNeueCyr";
   src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
      url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
/* Part 1 */
.part_1 {
   font-size: 30px;
   background-color: darkgrey;
   padding: 50px 0px 50px 50px;
}
.part_1 li {
   margin-bottom: 15px;
   width: 200px;
}
a.link {
   color: blue;
}
a.three:visited {
   color: rgba(89, 96, 194, 0.5);
}
.link:hover {
   color: darkblue;
}
.list:hover a.two {
   opacity: 0;
   visibility: hidden;
}
.link:focus {
   outline: 2px solid purple;
}
.link:active {
   color: indigo;
}
ul.list {
   margin-bottom: 40px;
}
.button {
   background-color: yellow;
   padding: 20px 30px;
   border-radius: 5px;
   box-shadow: 0px 8px 0px rgb(122, 122, 28);
   position: relative;
   top: 0;
}
.button:hover {
   background-color: rgba(255, 255, 0, 0.7);
}
.button:active {
   top: 4px;
   box-shadow: 0px 4px 0px rgb(122, 122, 28);
}

.window {
   background-color: #fff;
   max-width: 200px;
   display: none;
}

.window:target {
   display: block;
}

.part_1 h3:first-child {
   color: darkslateblue;
   margin-bottom: 30px;
   display: inline-block;
}
.part_1 span:first-of-type {
   display: block;
   color: rgb(139, 61, 129);
   margin-bottom: 30px;
}
.text p,
.text_2 p {
   margin-bottom: 20px;
}
.text p:first-of-type {
   color: rgb(70, 139, 61);
}
.text p:last-of-type {
   color: rgb(61, 130, 139);
}
.text_2 *:first-child {
   background-color: greenyellow;
}
.text_2 *:last-child {
   background-color: rgb(255, 47, 47);
   margin-bottom: 0px;
}
.text p:nth-child(2) {
   color: maroon;
}
.text p:nth-child(2):hover,
.text_2 p:nth-child(2):hover {
   color: rgb(0, 231, 154);
}
.text p:nth-child(odd),
.text_2 p:nth-child(odd) {
   text-decoration: underline;
   text-shadow: 5px 0px 5px grey;
}
.text p:not(:first-child),
.text_2 p:not(:last-child) {
   text-transform: capitalize;
}
.text_3 {
   margin: 50px 0px 50px 0px;
   text-indent: 30px;
}

.text_3::first-line {
   color: crimson;
   text-decoration: underline;
}
.text_3::first-letter {
   color: rgb(50, 20, 220);
}
.part_1 h3::after {
   content: "";
   display: block;
   background-color: rgb(228, 15, 15);
   height: 2px;
   width: 100%;
   margin: 15px 0px 0px 0px;
}
.list li::before {
   content: "";
   display: inline-block;
   background-color: yellow;
   background-position: 0 0;
   border-radius: 50%;
   width: 10px;
   height: 10px;
   margin: 10px;
}
.list li:hover::before {
   background-color: rgb(201, 15, 15);
}
.list_2 {
   counter-reset: item;
}
.list_2 li::before {
   display: inline-block;
   width: 20px;
   height: 20px;
   counter-increment: item;
   content: counter(item) ".";
   margin: 0px 10px 0px 0px;
   color: rgb(105, 11, 30);
}
.list_2 li::after {
   content: "";
   display: inline-block;
   background-image: url(../img/heart_icon.png);
   width: 20px;
   height: 20px;
   background-position: left;
   background-repeat: no-repeat;
   background-size: 20px 20px;
}
.list_2 li:hover::after {
   background-image: url(../img/299063_heart_icon.png);
}
/* Part 2 */
.part_2 {
   font-family: Roboto;
   font-style: normal;
   padding: 50px 0px 50px 50px;
   background-color: #f5f5f5;
   font-size: 0;
}
div.overline {
   width: 583px;
   height: 134px;
   margin-bottom: 26px;
}
.overline span {
   font-weight: 700;
   font-size: 12px;
   line-height: 24px;
   align-items: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5d62b5;
}
.overline h2 {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
}
.overline span {
   display: inline-block;
   background-image: url(../img/overline_mark.png);
   padding-left: 33px;
   padding-top: 0px;
   margin-bottom: 33px;
   background-repeat: no-repeat;
   background-size: 28px 27px;
   background-position: top left;
}
div.box_1,
div.box_2,
div.box_3 {
   display: inline-block;
   width: 324px;
   height: 148px;
   padding-left: 86px;
   margin-right: 24px;
}

.box_1 h6,
.box_2 h6,
.box_3 h6 {
   font-weight: 900;
   font-size: 19px;
   line-height: 26px;
   color: #f2726f;
   width: 235px;
   height: 26px;
}
.box_1 p,
.box_2 p,
.box_3 p {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #4b4b4b;
}
.box_1,
.box_2,
.box_3 {
   display: inline-block;
   width: 63px;
   height: 63px;
   background-repeat: no-repeat;
}
.box_1 {
   background-image: url(../img/dog_love.png);
}
.box_2 {
   background-image: url(../img/dog_vet.png);
}
.box_3 {
   background-image: url(../img/dog_stream.png);
}
/* Part 3 */
.container {
   font-family: "HelveticaNeueCyr";
   font-style: normal;
   font-weight: normal;
   background-color: #252525;
   padding: 50px;
}

div.how_often {
   background-color: #303030;
   max-width: 255px;
   height: 206px;
   padding: 24px;
   margin-bottom: 50px;
}
.how_often h3 {
   font-size: 22px;
   line-height: 26px;
   letter-spacing: -0.275px;
   text-transform: capitalize;
   color: #ffffff;
   margin-bottom: 10px;
}

.how_often p {
   font-size: 13px;
   line-height: 18px;
   letter-spacing: -0.1625px;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 60px;
}

.how_often h3::after {
   display: inline-block;
   content: "";
   background-color: #34c759;
   width: 56px;
   height: 2px;
}
